@model System.Collections.Generic.Dictionary<string, int>

@{
    ViewBag.Title = "index";
}

<h2>index</h2>

<table class="table">
    <tr>
        <th>
            @("支出合計")
        </th>
        <th>
            @("収入合計")
        </th>
    </tr>
    <tr>
    
        <td>
            @Html.DisplayFor(model => model["sp"])円
        </td>
        <td>
            @Html.DisplayFor(model => model["ic"])円
        </td>
    </tr>
</table>

