@{
    ViewBag.Title = "家計簿";
}

<div class="jumbotron">
    <h1>家計簿</h1>
    <p class="lead">収入と支出を記録し、あなたの家計を助けます</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>支出入力</h2>
        <p><a class="btn btn-default" href="http://localhost:31319/Spendings/Index">支出入力 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>収入入力</h2>
        <p><a class="btn btn-default" href="http://localhost:31319/Incomes/Index">収入入力 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>データ閲覧</h2>
        <p><a class="btn btn-default" href="http://localhost:31319/Data/index">データ閲覧 &raquo;</a></p>
    </div>
</div>

